*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.card{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    border: 2px solid #111212;
    box-shadow: 50px 50px 50px;
    margin-left: 250px;
    padding: 30px;
    border-radius: 10px;
    
}
.ev{
    margin: 10px;
    padding: 10px;
}
input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgb(12, 12, 12);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(14, 15, 15);
    background: transparent;
    border-radius: 10px;
    margin-bottom: 20px;

}
h2{
    color:rgb(41, 119, 187);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
.btn{
   
  padding: 5px;
  margin: 10px;

}

.wrapper-class input[type="radio"] {
    width: 15px;
  }
  
  .wrapper-class label {
    display: inline;
    margin-left: 5px;
    }
