<h2>Deleted history</h2>
<div class="table">

    <table class="tablefont">
       

        <thead>
            <tr>
                <th>Event Date</th>
                <th>Event Name</th>
                <th>priority</th>
            </tr>
        </thead>

        <tbody *ngFor="let array of arrays">
            <tr>
                <td>{{array.event_date}}</td>
                <td>{{array.event_name}}</td>
                <td>{{array.priority}}</td>
                
            </tr>
        </tbody>
    </table>
</div>